* {
  margin: 0;
  padding: 0;
}

.miniature--down {
  background-image: url("../assets/flash.png");
  /* background: linear-gradient(
    115.96deg,
    #000000 22.54%,
    rgba(0, 0, 0, 0) 51.81%
  ); */
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  margin-top: 250px;
}

.miniature_info button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.miniature_title--down {
  position: absolute;
  margin-left: 25px;
  margin-top: 50px;
  width: 269px;
  height: 76px;
  display: flex;
  flex-wrap: wrap;
  font-size: 32px;
  font-weight: bold;
}

.miniature_synopsis--titre {
  position: absolute;
  font-weight: bold;
}
.miniature_synopsis {
  display: flex;
  flex-wrap: wrap;
  width: 410px;
  position: absolute;
  margin-left: 25px;
  margin-top: 135px;
}

button {
  cursor: pointer;
  background-color: white;
  font-size: 16px;
  margin-left: 50px;
  position: absolute;
  width: 210px;
  height: 40px;
  margin-top: 180px;
}

.miniature-ctafilm--down {
  font-family: "Raleway";
  font-weight: bold;
  background-color: #ff8500;
  border: none;
  width: 210px;
  height: 40px;
  margin-top: 220px;
  margin-left: 50px;
}

.miniature-ctainfo {
  font-family: "Raleway";
  font-weight: bold;
  text-align: center;
  background-color: white;
  width: 210px;
  height: 40px;
  margin-top: 180px;
}

.miniature-info--teaser {
  position: absolute;
  background-color: white;
  border: 2px solid #ff8500;
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 220px;
  margin-left: 280px;
}

.miniature-ctainfo img {
  margin-left: 10px;
}

.miniature-ctafilm img {
  margin-left: 10px;
}
