* {
  margin: 0;
  padding: 0;
}

section .resume {
  height: 235px;
}
.resume_profil {
  margin-top: 20px;
  font-weight: bold;
  font-size: 16px;
  margin-left: 25px;
}

.resume_miniature {
  /* background: linear-gradient(
    178.83deg,
    #000000 10.59%,
    rgba(196, 196, 196, 0) 66.64%
  ); */
  width: 311px;
  height: 190px;
  margin-top: 33px;
  margin-left: 25px;
}

.resume_miniature--elite {
  position: absolute;
  background-image: url("/assets/Elite-Netflix-saison-3-1.png");
  background-repeat: no-repeat;
}

.resume_miniature--casadelpapel {
  position: absolute;
  margin-left: 352px;
  background-image: url("/assets/casadelpapel_episode.png");
  background-repeat: no-repeat;
}

.resume_miniature--valide {
  position: absolute;
  margin-left: 678px;
  background-image: url("/assets/valide-episode.png");
  background-repeat: no-repeat;
}

.categorys {
  position: absolute;
  background-color: #ff8500;
  font-family: "Raleway";
  font-size: 16px;
  padding: 5px;
  border: none;
  width: 50px;
  height: 15px;
  margin-top: 115px;
  margin-left: 15px;
}

.categorys--2 {
  position: absolute;
  margin-left: 90px;
}

.episode {
  position: absolute;
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-left: 35px;
  margin-top: 150px;
}

.arrow_down {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  position: absolute;
  background-color: #ff8500;
  border-radius: 100px 100px 100px 100px;
  width: 24px;
  height: 24px;
  margin-top: 150px;
  margin-left: 265px;
}

.arow_right {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  color: white;
  width: 24px;
  height: 24px;
  margin-top: 120px;
  margin-left: 1000px;
}
