<div class="footer">
  <div class="footer_first">
    <img src="./assets/E-CINE.png" />
    <ul>
      <li>Audio et Sous-titres</li>
      <li>Presse</li>
      <li>Nous contacter</li>
    </ul>
  </div>
  <div class="footer_second">
    <ul>
      <li>Audiodescription</li>
      <li>Relations Investisseurs</li>
      <li>Informations légales</li>
    </ul>
  </div>
  <div class="footer_third">
    <ul>
      <li>Centre d’aide</li>
      <li>Recrutement</li>
      <li>Préfèrences de cookies</li>
    </ul>
  </div>
  <div class="footer_last">
    <img src="/assets/contact.svg" alt="contact"/>
  </div>
</div>
<div class="droits">
  <p class="droits_text">© 2020 E-CINE, Inc. Tous droits réservés</p>
</div>
