<div class = "header">
    <div class = "header_first">
        <img class="header_logo" src="/assets/E-CINE.png">
    </div>
    <ul class="header_nav" >
        <li><a class="nav_first" href=#1>Accueil</a></li>
        <li><a class="nav_first" href =#2>Séries</a></li>
        <li><a class="nav_first" href=#3>Films</a></li>
    </ul>
    <div class = "header_second">
        <form>
            <input class="header_form" type="text" id="fname" name="fname" placeholder="Recherche un film, une série" >
        </form>
    </div>
    <div class="header_account">
        <a href=#6>
            <img class="account_logo" src="/assets/account_1.png"> 
        </a>
    </div>
</div>
    
</body>
</html> 