<section class="miniature">
  <p class="miniature_title">La Casa Del papel</p>
  <p class="miniature_director">Réalisateur : Álex Pina</p>
  <div class="miniature_info">
    <button class="miniature-ctainfo"> Plus d'info <img src="/assets/info.svg"></button>
    <button class="miniature-ctafilm"> Voir le film <img src="/assets/play.svg"></button>
    
    </div>
  </div>
</section>
