<section class="miniature--up">
  <p class="miniature_title miniature_title--up">La Casa Del papel</p>
  <p class="miniature_director miniature_director--up">Réalisateur : Álex Pina</p>
  <div class="miniature_info miniature_info--up">
    <button class="miniature-ctainfo"> Plus d'info <img src="/assets/info.svg"></button>
    <button class="miniature-ctafilm"> Voir le film <img src="/assets/play.svg"></button>
    
    </div>
  </div>
</section>
