<section class="miniature miniature--down">
  <p class="miniature_title miniature_title--down">Flash</p>
  <p class="miniature_synopsis">Synopsis : Jeune expert de la police scientifique de Central City, Barry Allen se retrouve doté d'une vitesse extraordinaire après avoir été frappé par la foudre. Sous le costume de Flash, il utilise ses nouveaux pouvoirs pour combattre le crime</p>
  <button class="miniature-ctafilm miniature-ctafilm--down"> Voir le film <img src="/assets/play.svg"></button>
  <button class="miniature-info miniature-info--teaser"> Voir le teaser </button>
    
    </div>
  </div>
</section>
