<section class="resume">
  <p class="resume_profil">Reprendre sur mon profil</p>
  <div class="resume_miniature resume_miniature--elite">
    <p class="categorys">Thriller</p>
    <p class="categorys categorys--2">Famille</p>
    <p class="episode">S4 - Épisode final</p>
    <div class="arrow_down">
      <img class="arrow" src="/assets/resume_fleche.svg" alt="" />
    </div>
  </div>

  <div class="resume_miniature resume_miniature--casadelpapel">
    <p class="categorys">Thriller</p>
    <p class="categorys categorys--2">Famille</p>
    <p class="episode">S4 - Épisode final</p>
    <div class="arrow_down">
      <img class="arrow" src="/assets/resume_fleche.svg" alt="" />
    </div>
  </div>

  <div class="resume_miniature resume_miniature--valide">
    <p class="categorys">Thriller</p>
    <p class="categorys categorys--2">Famille</p>
    <p class="episode">S1 - Épisode final</p>
    <div class="arrow_down">
      <img class="arrow" src="/assets/resume_fleche.svg" alt="" />
    </div>
  </div>

    <img class="arow_right" src="/assets/resume_arrow_right.svg " alt="" />
</section>
